.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: url('./hex-4270275_1920.jpg') no-repeat center center fixed; */
    background: #2c302e;
}

.header-container {
    width: 100%;
    height: 90px;
    background: transparent;
    color: #E2E2E2;
    display: flex;
    justify-content: flex-start;
    /* box-shadow: 5px 1px 15px #2D3142; */
}

.navbar-left {
    width: 50%;
    height: 100%;
    font-size: 45px;
    font-weight: bold;
    /* color: #E88D33; */
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-right {
    width: 50%;
    height: 100%;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-right button {
    /* width: 120px; */
    height: 90px;
    font-size: 16px; 
    font-weight: bold;
    margin: 5px;
    background: transparent;
    color: #E2E2E2;
    outline: none;
    border: none;
}

.navbar-right button:hover {
    height: 40px;
    background: rgb(255, 255, 255, .7);
    color: #212121;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 7px 7px 13px black;
}

.body-container {
    height: auto;
    width: 100%;
    
}

.welcome-container {
    width: 100%;
    height: 100%;
    color: #E2E2E2;
    /* background: url('./doors-1767564_1920.png') no-repeat center center; */
    font-size: 100px;
    text-align: center;

}

.total-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    padding: 0 20em;
    height: 200px;
}

.total-box {
    background: rgb(255, 255, 255, .7);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.total-box > div:nth-child(1){
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}
.total-box > div:nth-child(2){
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.total-title {
    

}

.hours-display {
    
    
}


.timeclock-container {
    background: rgb(255, 255, 255, .7);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.timeclock-container > button:nth-child(1) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.timeclock-container > button:nth-child(2) {
    grid-column: 3/4;
    grid-row: 2/3;
}
.timeclock-container > div {
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.time-buttons-box {
    
}

.time-button-container {
    
}

.time-button {
    
}

.time-button:hover {
    
    cursor: pointer;
}

.status-container {
    /* background: red; */
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.status-box {
    padding-bottom: 20px;
    
    background: rgb(255, 255, 255, .5);
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 7px 7px 13px #212121;
}

.introduce-container {
    font-size: 55px;
    width: 50%;
    height: 30%;
    padding-top: 40px;
    margin: 20px auto;
}

.introduce-container1 {
    font-size: 35px;
    width: 80%;
    height: 10%;
    padding-top: 5%;
    margin: 20px auto;
}







.online-employees-container {
    background: rgb(255, 255, 255, .7);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 500px;
    margin: 5em 5em;
}
.online-employees-container > div {
    grid-column: 3/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}